
header > div {
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
}

.logo-text {
    width: 300px;
    text-align: left;
}

.container-logo{
    float:left;
    width: 100px;
}
.container-logo img{
    width: 100%;
}


  a{
    text-decoration: none !important;
    color:inherit;
  }
  