
header > div {
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
}

.logo-text {
    width: 300px;
    text-align: left;
}

.container-logo{
    float:left;
    width: 100px;
}
.container-logo img{
    width: 100%;
}

.selected {
    color: white !important ;
    text-transform: uppercase;
    -webkit-text-stroke-width: thin
  }

  .unselected{
        color: white !important ;
  }

  .category-container{
    display: contents;
  }

  ul {
    list-style-type: none;
    display: contents;
  }